@{
	ViewBag.Title = "About";
}
<style>
	body {
		background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../bgimages/background.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #ffff;
		background-attachment: fixed;
	}

	h2,p,h3 {
		font-family: cursive;
	}
	p {
		font-size: 15px;
	}
</style>
<h2>About us</h2><br />

<h3>Who we are?</h3>
<p>We are students of Monash University</p>
<p>We deeply care about maintaining a sustainable living in Victoria</p>
<br />


<h3>What is our mission?</h3>
<p>To help the Victorian household in reducing the recycling contamination at home</p>
<p>To contribute in reducing the amount of plastic going into landfill</p>
<br />


<h3>What is our value?</h3>
<p>Help international students to get familiarised with the importance and impact of recycling in Victoria </p>
<p>Help them actively participate in making a difference by accurately throwing away wastes in the right bins</p><br />