@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<head>
	<link href="~/Content/app.css" rel="stylesheet" />
</head>
<address>
	Abhishek Karthik<br />
	Shiyang Huang<br />
	Xuancheng Peng<br />
	Zixin Deng
</address>

<address>
    <strong>Monash University</strong>
</address>