@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
	Abhishek Karthik<br />
	Shiyang Huang<br />
	Xuancheng Peng<br />
	Zixin Deng
</address>

<address>
    <strong>Monash University</strong>
</address>