@{
	ViewBag.Title = "Home Page";
}
<style>
	body {
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://cutewallpaper.org/21/recycle-wallpapers/Best-48-Wallpaper-Recycling-on-HipWallpaper-Aluminum-Can-.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		color: #ffff;
	}
	.jumbotron {
		color: black;
		background: rgba(204, 204, 204, 0.5);
		font-family: cursive;
	}
	.jumbotron h1, h2 {
			font-family: "Lucida Console", "Courier New", monospace;
	}

	p {
		font-family: cursive;
		font-size: 17px;
	}


</style>
<div class="jumbotron">
	<h1>RECYCLE VICTORIA</h1>
	<p class="lead">A step towards ethical and environmentally-friendly practices</p>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>PRODUCT PACKAGING</h2>
		<p>
			Search for various products available in Australia and know how they are packaged
		</p>
		<p><a class="btn btn-default" href='@Url.Action("Index", "ProductPackagings/Index")'>Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>RECYCLING TRENDS</h2>
		<p>Study the Victorian recycling patterns over the years and know how recycling can impact your lives </p>
		<p><a class="btn btn-default" href='@Url.Action("Index", "Recycle/Index")'>Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>ABOUT</h2>
		<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
		<p><a class="btn btn-default" href='@Url.Action("Index", "Recycle/Index")'>Learn more &raquo;</a></p>
	</div>
</div>