
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	body {
		background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('../../bgimages/background.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #ffff;
		background-attachment: fixed;
	}
	p{
		font-size: 19px;
	}
	h2 {
		font-weight: bold;
	}
</style>

	<h2 > RECYCLING TRENDS </h2 ><br />

	<div>
		<p>How does the recycling trend in Victoria look like?</p>
		<p> Since Victoria proposed the Waste and Recycling Strategy in 2015, more households participated in developing waste sorting behaviours at home. While the amount of garbage being collected is rising significantly over the past few years, the garbage that is actually recycled is decreasing. One of the reason being the contamination of recyclable products in every household</p><br />
		<p>However, was the strategy successful?</p>
		<p > Which is why, the efficiency of recycling has been decreasing as well. The recycling efficiency hit an all time low of 86% in 20 years.</p > <br />
	</div>

	<div class="row">
		<div class="col-md-6">
			<iframe height="300" width="100%" frameborder="no" src="../../images/The Trend for Gabage Collected and Recycle Collected in Victoria.html"> </iframe>
		</div>
		<div class="col-md-6">
			<iframe height="300" width="100%" frameborder="no" src="../../images/Recovery Proportion for Recycle Collection.html"> </iframe>
			<br />
		</div>
	</div>


	<div >
	<br /><p > With every kilogram of waste that is recycled, the energy saved is equivalent to a 1.46km drive with family, 0.99 days of watching TV and 0.93 mins of time spent in the shower</p >
	<p > The below visualization shows the amount of energy saved with every kilogram of garbage that can be recycled</p ><br />
	<iframe height="500" width="100%" frameborder="no" src="https://xpenrimage.shinyapps.io/Onboard_RShiny/?_ga=2.7436082.1095357853.1646983372-1667027407.1646983372" > </iframe >

	</div >
