
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
	<iframe height="500" width="100%" frameborder="no" src="../../images/The Trend for Gabage Collected and Recycle Collected in Victoria.html"></iframe> <br />
	<iframe height="500" width="100%" frameborder="no" src="../../images/Recovery Proportion for Recycle Collection.html"></iframe>
	<iframe height="500" width="100%" frameborder="no" src="https://xpenrimage.shinyapps.io/Onboard_RShiny/?_ga=2.7436082.1095357853.1646983372-1667027407.1646983372"></iframe>
</div>