body {
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('https://cache.desktopnexus.com/thumbseg/1324/1324335-bigthumbnail.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: #ffff;
}

.jumbotron {
	color: black;
	background: rgba(204, 204, 204, 0.5);
}

.jumbotron h1 {
	font-family: "Lucida Console", "Courier New", monospace;
}